h2{
    text-align: center;
    font-size: x-large;
    color: white;
}
body{
    background-color: #33135c;
}
.App{
    background-color: #e847ae;
    height: 500px;
    width: 450px;
    margin: 100px auto;
    overflow-y:scroll;
}
input[type='text']{
    background-color: #ffb3fd;
    height: 40px;
    margin: 50px;
    width: 200px;
    padding: 10px;
    border: 0;
    font-size:x-large;
    border-radius: 15px;
    color: black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }

.scroll-form{
    display: flex;
    flex-direction: column;
   

}



.to-do-form :focus{
    outline: none;
}
.to-do-form button{
    height: 70px;
    width: 80px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: #04005e;
    color: cornsilk;
    cursor: pointer;

}

.itemlist{
    background-color: #535eeb;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    color: cornsilk;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem;
    
   
}
 

.faicons{
    
    cursor: pointer;
} 
